header {
  background: #333;
  color: #fff;

  height: var(--header-height);
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}


nav.open {
  display: block;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.active {
  border-bottom: 2px solid #fff;
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger div.open:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger div.open:nth-child(2) {
  opacity: 0;
}

.burger div.open:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  nav {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    display: block;
    margin: 1rem 0;
  }

  nav.open ul {
    display: block;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
