<header>
  <div class="nav-container">
    <div class="logo">Amer Event</div>
    <nav >
      <ul class="nav">
        <li><a routerLink="/createEvent" routerLinkActive="active" style="color:white">Home</a></li>
        <li><a routerLink="/eventList" routerLinkActive="active" style="color:white">Lista eventów</a></li>
        <li><a routerLink="/home" routerLinkActive="active" style="color:white">Gotowość do pracy</a></li>
        <li><a routerLink="/" (click)="logout()">Wyloguj</a></li>
      </ul>
    </nav>

  </div>
</header>
