:host{
  width:100%;
}
.form-field {
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mat-mdc-chip-action-label{
  background-color: black;
  display:flex !important;
  align-items: center;
  justify-content: center;
}
