<div class="container">
  <mat-card class="error-card">
    <mat-card-header>
      <mat-icon color="warn">error_outline</mat-icon>
      <mat-card-title>404 - Nie znaleziono strony</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Przykro nam strona, której szukasz nie istnieje</p>
      <p>Możesz wrócić na stronę główną wciskając przycisk</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/" routerLinkActive="active">Wróć do strony głównej</button>
    </mat-card-actions>
  </mat-card>
</div>
